* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#stats {
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: monospace;
    font-size: 1rem;
    color: white;
}